<header>
  <div class="welcome-text">
    <span>Welcome To Shokor's Game</span>
    
  </div>
  <div class="scoreboard">
    <span>X | O</span>
  
  </div>
</header>

<app-board/>

<footer>
  <div>
    <div>
      <i id="icon" class="fa">&#xf09b;</i>
      <span><a href="https://github.com/ali-shokor">https://github.com/ali-shokor</a></span>
    </div>
    <div>
      <i id="icon" style="font-size:16px;" class="fa">&#xf0e0;</i>
      <span>ali.personal.programmer&#64;gmail.com</span>
    </div>
  </div>
</footer>